body {
  font-family: sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.projects {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 20px;
  margin: 20px 0;
}

.project {
  padding: 20px;
  border: 1px solid #ccc;
}
